@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&subset=latin-ext");
/* global styles */
* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #373737; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.row {
  margin: 0; }

.col {
  padding: 0; }

a:link {
  text-decoration: none; }

/* mixins */
/* HERO */
.hero {
  height: 745px;
  background-image: url(https://i.imgur.com/0Wft9Mi.png);
  background-size: cover;
  background-position: center;
  color: #fff;
  position: relative; }
  .hero nav {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 30px;
    height: 85px; }
    .hero nav div {
      float: left;
      width: 20%;
      height: 55px;
      display: flex; }
      .hero nav div a {
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        display: block;
        margin: auto;
        letter-spacing: 2.4px;
        transition: .2s; }
        .hero nav div a:hover {
          transform: scale(1.1); }
  .hero h1 {
    margin: 200px 0 0 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5.4px; }
  .hero p {
    font-size: 16px;
    font-weight: 500;
    margin: 13px 0 26px 0;
    font-family: Gotham Rounded Medium;
    letter-spacing: 2.4px; }

.started-btn-1, .started-btn-2, .learn-more-btn {
  background: #16a085;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  width: 166px;
  height: 49px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  color: #fff;
  letter-spacing: 1.8px;
  transition: .3s; }
  .started-btn-1:hover, .started-btn-2:hover, .learn-more-btn:hover {
    background: #1abc9c; }

.hero-icons {
  position: absolute;
  bottom: 25px;
  width: 100%;
  letter-spacing: 4px; }
  .hero-icons .fa {
    font-size: 21px;
    color: #fff;
    transition: .2s; }
    .hero-icons .fa:hover {
      transform: scale(1.2); }

/* ABOUT-US */
.about-us {
  background: #f5f6f7; }
  .about-us .col:first-of-type {
    padding: 113px 0 92px 0;
    position: relative;
    z-index: 50; }
  .about-us .col:last-of-type {
    padding: 0;
    position: relative;
    height: 531px;
    z-index: 10; }
  .about-us h2 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 50px;
    letter-spacing: 2.7px;
    width: 376px;
    max-width: 90%; }
  .about-us p {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.8px;
    width: 428px;
    margin-bottom: 47px;
    max-width: 90%;
    line-height: 24px; }
  .about-us img {
    position: absolute;
    right: 0;
    bottom: 0; }

.started-btn-2 {
  width: 192px;
  height: 51px; }

/* OFFER */
.offer {
  margin-top: 145px; }
  .offer h2 {
    text-transform: uppercase;
    letter-spacing: 2.7px;
    font-size: 18px;
    font-weight: 700;
    margin: 0; }
  .offer p {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.8px;
    line-height: 22px;
    margin: 44px 0 41px 0; }
  .offer h4 {
    font-size: 12px;
    font-weight: 700;
    margin: 43px 0 5px 0; }
  .offer .fa {
    font-size: 35px; }

.fa-angle-left {
  margin-right: 10px; }

.learn-more-btn {
  width: 194px;
  height: 54px; }

/* GALLERY */
.gallery {
  padding: 122px 0 120px 0;
  background: #f5f6f7; }
  .gallery .fa {
    font-size: 35px; }
  .gallery .item img {
    max-width: 370px;
    max-height: 244px;
    object-fit: cover; }

.carousel-wrapper {
  position: relative; }

.image-right {
  float: right; }

.gallery-text-wrapper {
  width: 150px;
  text-align: center;
  margin-top: 37.5px; }
  .gallery-text-wrapper h4 {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 31px 0 24px 0; }
  .gallery-text-wrapper p {
    font-size: 10px;
    font-weight: 500;
    margin: 0;
    padding: 0 10px; }

.arrows-wrapper {
  height: 35px;
  width: auto;
  position: absolute;
  top: -40px;
  right: 0; }

/* SUBSCRIBE */
.subscribe {
  height: 790px;
  display: flex;
  background-image: url(https://i.imgur.com/PvEXamd.png);
  background-size: cover;
  background-position: center; }
  .subscribe div {
    margin: auto;
    max-width: 100%; }
    .subscribe div h2 {
      font-size: 24px;
      font-weight: 700;
      letter-spacing: 3.6px;
      color: #fff;
      text-transform: uppercase;
      margin: 0 0 33px 0;
      text-align: center; }
    .subscribe div form {
      margin: 0 auto;
      width: 349px;
      height: 63px; }
      .subscribe div form input {
        width: 81%;
        height: 100%;
        float: left;
        border: none;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 2.4px;
        color: #373737;
        padding: 0 24px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px; }
      .subscribe div form button {
        width: 19%;
        height: 100%;
        float: left;
        border: none;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        background: #16a085;
        transition: .3s; }
        .subscribe div form button:hover {
          background: #1abc9c; }
        .subscribe div form button .fa {
          color: #fff;
          font-size: 23px; }

/* DOWNLOAD */
.download {
  background: #f5f6f7;
  padding: 93px 0 116px 0; }
  .download .download-container {
    max-width: 1000px;
    margin: 0 auto; }
  .download h2 {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0 0 16px 0;
    text-align: center; }
  .download p {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    line-height: 22px;
    text-align: center;
    margin: 0 0 46px 0;
    padding: 0 15px; }
  .download button {
    border: none; }
  .download .row {
    max-width: 648px;
    margin: 0 auto; }

.download-btn-wrapper {
  width: 300px;
  height: 59px;
  margin: 0 auto;
  color: #fff; }
  .download-btn-wrapper:hover .download-left-btn {
    background: #16a085; }
  .download-btn-wrapper:hover .download-right-btn {
    background: #1abc9c; }

.download-left-btn {
  width: 81%;
  height: 100%;
  float: left;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  background: #1abc9c;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  text-align: left;
  padding-left: 33px;
  transition: .3s; }

.download-right-btn {
  width: 19%;
  height: 100%;
  float: left;
  font-size: 30px;
  background: #16a085;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  transition: .3s; }

/* FOOTER */
footer {
  padding: 43px 0 35px 0; }
  footer img {
    float: right; }
  footer p {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2.1px;
    margin: 23px 0 0 0; }
  footer span {
    color: #16a085;
    padding: 0 2px; }
  footer a {
    margin: 0 0 23px 0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2.1px;
    color: #373737;
    transition: .1s; }
    footer a:hover {
      text-decoration: underline;
      color: #373737; }

/* MEDIA QUERIES */
@media (max-width: 1199px) {
  .gallery .item img {
    max-width: 97%; }
  .gallery-text-wrapper {
    margin-top: 0; } }

@media (max-width: 991px) {
  .about-us .col:first-of-type {
    padding: 80px 0 0 0; }
  .about-us .col:last-of-type {
    height: 270px; }
  .about-us img {
    max-width: 100%; }
  .offer {
    margin-top: 100px;
    margin-bottom: 80px; }
    .offer h2 {
      margin-top: 60px; }
    .offer p {
      margin: 25px 0 35px 0; }
    .offer .col:first-of-type {
      text-align: center; }
    .offer img {
      max-width: 80%; }
  .gallery-text-wrapper {
    margin-bottom: 60px; } }

@media (max-width: 767px) {
  .hero {
    height: auto; }
    .hero h1 {
      margin: 80px 0 0 0;
      font-size: 32px; }
    .hero nav {
      height: 350px;
      padding-top: 0; }
      .hero nav div {
        width: 100%;
        height: 70px; }
        .hero nav div a {
          width: 100%;
          height: 70px;
          line-height: 70px;
          font-size: 20px; }
  .started-btn-1, .started-btn-2, .learn-more-btn {
    margin-bottom: 110px; }
  .started-btn-2 {
    margin-bottom: 0; }
  .learn-more-btn {
    margin-bottom: 0; }
  .about-us .col:last-of-type {
    height: 230px; }
  .offer .fa {
    font-size: 50px; }
  .gallery {
    padding: 80px 0 80px 0; }
    .gallery .fa {
      font-size: 50px; }
    .gallery .carousel {
      max-width: 370px;
      margin: 0 auto; }
    .gallery .item .col {
      padding: 12px 0;
      text-align: center;
      width: auto;
      margin: 0 auto; }
  .image-right {
    float: none; }
  .gallery-text-wrapper {
    margin: 0 auto 60px auto; }
  .arrows-wrapper {
    right: 10px; }
  .fa-angle-left {
    margin-right: 20px; }
  .download-btn-wrapper {
    margin: 10px auto;
    width: 235px;
    height: 50px; }
  .subscribe {
    height: 550px; }
    .subscribe div form {
      width: 235px;
      height: 40px; }
      .subscribe div form input {
        padding: 0 10px; }
  footer img {
    margin-top: 30px; }
  .hero nav div a:hover {
    transform: scale(1); }
  .hero-icons .fa:hover {
    transform: scale(1); }
  .started-btn-1:hover, .started-btn-2:hover, .learn-more-btn:hover {
    background: #16a085; }
  .subscribe div form button:hover {
    background: #16a085; }
  .download-btn-wrapper:hover .download-left-btn {
    background: #1abc9c; }
  .download-btn-wrapper:hover .download-right-btn {
    background: #16a085; }
  footer a:hover {
    text-decoration: none; } }

/*# sourceMappingURL=style.css.map */