@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,500,700&subset=latin-ext')

@font-face
	font-family: 'GothamRounded-Bold'
	src: url('GothamRounded-Bold.eot') format('embedded-opentype')
	font-weight: normal
	font-style: normal

@font-face 
  	font-family: 'GothamRounded-Medium'
  	src: url('GothamRounded-Medium.eot') format('embedded-opentype')
  	font-weight: normal
  	font-style: normal

@font-face
	font-family: 'GothamRounded-Book'
	src: url('GothamRounded-Book.eot') format('embedded-opentype')
	font-weight: normal
	font-style: normal

*
	box-sizing: border-box

body
	margin: 0
	font-family: 'GothamRounded-Bold'

.container
	max-width: 1200px
	margin: 0 auto

.row
	margin: 0
	
a:link
	text-decoration: none

/* HERO */
.hero
	height: 745px
	background-image: url(https://i.imgur.com/0Wft9Mi.png)
	background-size: cover
	background-position: center
	color: #fff
	position: relative

	nav
		max-width: 1000px
		margin: 0 auto
		padding-top: 30px
		height: 85px

		div	
			float: left
			width: 20%
			height: 55px
			display: flex
			margin: 0

			a
				color: #fff
				font-size: 16px
				text-transform: uppercase
				display: block
				margin: auto
				letter-spacing: 2.4px

	h1
		margin-top: 200px
		font-size: 36px
		text-transform: uppercase
		letter-spacing: 5.4px

	p
		font-size: 16px
		margin: 13px 0 26px 0
		font-family: 'GothamRounded-Medium'
		letter-spacing: 2.4px


.started-btn-1
	background: #16a085
	font-size: 12px
	text-transform: uppercase
	border: none
	width: 166px
	height: 49px
	border-radius: 3px
	color: #fff
	letter-spacing: 1.8px

.hero-icons
	position: absolute
	bottom: 25px
	width: 100%
	letter-spacing: 3px

	.fa
		font-size: 21px
		color: #fff


/* ABOUT-US */
.about-us
	background: #f5f6f7

	.col:first-of-type
		padding: 113px 0 92px 0
		position: relative
		z-index: 50

	.col:last-of-type
		padding: 0
		position: relative
		height: 479px
		z-index: 10

	h2
		font-size: 18px
		text-transform: uppercase
		margin-bottom: 50px
		letter-spacing: 2.7px
		width: 376px
		max-width: 100%

	p
		font-size: 12px
		letter-spacing: 1.8px
		width: 428px
		margin-bottom: 47px
		max-width: 100%

	img
		position: absolute
		right: 0
		bottom: 0
		object-fit: cover

.started-btn-2
	@extend .started-btn-1
	width: 192px
	height: 51px